{% extends "PFAgendaBundle::layout.html.twig" %}

{% block title %}
	Add Rdv
{% endblock %}

{% block content %}
	<h2> Add Rdv</h2>
	<p> {{ include("PFAgendaBundle:Rdv:formRdv.html.twig") }}</p>
{% endblock %}