{% extends "PFAgendaBundle::layout.html.twig" %}

{% block title %}
	Add Rdv
{% endblock %}

{% block body %}
	<p> Add Rdv</p>
	<p> {{ include("PFAgendaBundle:Rdv:formRdv.html.twig") }}</p>
{% endblock %}