{% extends "ESCPProjectBundle::layout.html.twig" %}

{% block title %}
	Add Rdv
{% endblock %}

{% block body %}
	<p> Add Time Slot</p>
	<p> {{ include("ESCPProjectBundle:TimeSlot:formTimeSlot.html.twig") }}</p>
{% endblock %}