{# src/PF/AgendaBundle/Resources/views/Agenda/deleteRdv.html.twig #}

{% extends "PFAgendaBundle::layout.html.twig" %}

{% block title %}
	Supprimer Rdv| {{ parent() }} 
{% endblock %}

{% block content %}

	<h2>Delete a project</h2>

    <p> Supprimer votre rendez-vous ?  </p>


  <form action="{{ path('pf_agenda_delete_rdv', {'idrdv': rdv.id}) }}" method="post">
    <a href="{{ path('pf_agenda_view_timeslot', {'conseille': rdv.timeslot.conseille.id}) }}" class="btn btn-default">
      < Back
    </a>
    <input type="submit" value="Supprimer" class="btn-blue" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}