{% extends "PFAgendaBundle::layout.html.twig" %}

{% block title %}
	Modifier RDV
{% endblock %}





{% block body %}

	<div class="block-content">
		{{ include("PFAgendaBundle:Rdv:formRdv.html.twig") }}
	</div>
	
{% endblock %}


