{% extends "PFAgendaBundle::layout.html.twig" %}

{% block title %}
	Modifier RDV
{% endblock %}





{% block content %}
	{% for message in app.session.flashbag.get('notice') %}
		<div class="notice">
			<strong>Notice</strong> {{ message }}
		</div>
	{% endfor %}
	<div class="block-content">
		{{ include("PFAgendaBundle:Rdv:formRdv.html.twig") }}
	</div>
	
{% endblock %}


