{# src/ON/CabinetMedicalBundle/Resources/views/Patient/ajouter.html.twig #}
	<h3>Ajouter un créneaux horaire</h3>
	{% if message %}
		<p>{{ message }}</p>
	{% endif %}
	<div>
		{{ form(form) }}
	</div>
	<p><a href="">Retour</a></p>