

<a class="btn-del" href="{{ path('pf_agenda_view_rdv', {'conseille': user.id, }) }}">Voir ses rendez-vous</a>		
<a class="btn-del" href="{{ path('pf_agenda_view_timeslot', {'conseille': user.id, }) }}">Voir ses timeslot</a>		
